<c-card class="mb-4">
  <c-card-header>
    Login Screen
  </c-card-header>
  <c-card-body>
    <table class="table">
      <tr>
        <th>Email</th>
      </tr>
      <tbody>
      <tr>
        <td>
          <p><input 
            #emailInput
            placeholder="ejemplo@gmail.com"
            type="email"
            required
            ></p>
        </td>
      </tr>
        <th>Password</th>
      <tr>
          <p><input
            #passwordInput
            placeholder="************"
            type="text"
            required
            ></p> 
      <tr>
        <td>
          <p><button
            type="submit"
            [routerLink]="['/dashboard']"
            (click)="login(emailInput.value, passwordInput.value)"
            >Log in</button></p>
        </td>
      </tr>
      </tbody>
    </table>
  </c-card-body>
</c-card>