<c-card class="mb-4">
  <c-card-header>
    Login Screen
  </c-card-header>
  <c-card-body>
    <table class="table">
      <tr>
        <th>Email</th>
      </tr>
      <tbody>
      <tr>
        <td>
          <p><input placeholder="ejemplo@gmail.com" type="text"></p>
        </td>
      </tr>
        <th>Password</th>
      <tr>
          <p><input placeholder="************" type="text"></p>
      <tr>
        <td>
          <p><button type="button" [routerLink]="['/dashboard']">Log in</button></p>
        </td>
      </tr>
      </tbody>
    </table>
  </c-card-body>
</c-card>